body{
    background:#1a1a1a !important;
    color: #b1b1b1 !important;
}



.jumbotron {
    background: #2b2b2b;
    padding: 25px !important;
}


.form-control, 
.form-control:focus{
    background-color: #eee;
}

form{
    color: #555;

}