body{
    background:#1a1a1a !important;
    color: #b1b1b1 !important;
}



.jumbotron {
    padding: 25px !important;
    background: #202124;
    padding: 10px;
    border: 1px solid #5f6368;
    color: #d1d2d3;
}
}


.form-control, 
.form-control:focus{
    background-color: #eee;
}

form{
    color: #555;

}
